body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black ;
}

a {
  color: rgb(0, 255, 200);
}

h1, h3 {
 color: rgb(14, 148, 189);
 text-align: center;
}

p {
  
  color: #fff;
  display: block;
  padding-left:35%;
  padding-right: 35%; 
  text-align: left;

}
