body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black ;
}

a {
  color: rgb(0, 255, 200);
}

h1, h3 {
 color: rgb(14, 148, 189);
 text-align: center;
}

#results {
  padding-left:35%;
  padding-right: 35%; 
}

#output {
  background-color: #fff;
  display: block;
  border: 5px solid rgb(14, 148, 189);
}

#fileStats {
  color: #000000;
  font-size:18px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
